# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env*

#code configs
.vscode
*.code-workspace

# misc
.DS_Store

#log files
*.log
logs/

#dist
dist/