extends ./extends/layout.pug
block main
    include ./mixins/navbar
    +navbar('RTMP (Direct from Camera) |  ' + lab)
    .container.my-4.bg-dark.rounded-5.shadow.border.border-dark.minWidth.maxWidth
        .row.py-3.px-2.align-items-center
            .col.me-auto
                #clappr
            .col 
                include ./mixins/remote
                +remote(true,cams)
block script
    script(src='/shared/clappr.js')
    script.
        window.$(() => {
            window.startLivestream('#{stream}#{num}.m3u8', 'clappr');
        });
